<?
$AgencyParams = array();
$AgencyParams["DistributorNumber"] = "12345678";

$dbuser = "NexusDevAccount";
$dbpass = "abc123^";
$dbname = "NexusDev";


$DOCROOT = $_SERVER['DOCUMENT_ROOT'];
$ROOTPATH = "php";
$TempDir	= $DOCROOT . $ROOTPATH . "/temp";
$TempDirVirtual	= "/temp";
$FQDN			= "http://65.87.195.10";
$tcpdfPath		= "3rdParty/tcpdf";
$imagePath		= "/" . $ROOTPATH . "/images";


	/**
	 * image logo
	 */
	define ('PDF_HEADER_LOGO', "mainLogo.png");
	/**
	 *images directory
	 */
	define ('K_PATH_IMAGES', $DOCROOT . "/" . $imagePath . "/");
	/**
	 * header title
	 */
	define ('PDF_HEADER_TITLE', 'PDF REPORT TEST');
	
	/**
	 * header description string
	 */
	define ('PDF_HEADER_STRING', "Description of my Report!");
		
?>
